
.Error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1111111111;
    background-color: #FF5252;
    text-align: center;
    border-radius: 50px;
    padding: 1.5rem;
    box-shadow: 5px 5px 10px #FF5240, -5px -5px 10px #FF5240;
}


@media only screen and (max-width: 35em) {
    .Error{
        inset: 10% 10% 55% 10%;
    }
}